    <!DOCTYPE HTML>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>QQ community</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <script src="/js/jquery-3.4.1.min.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css//bootstrap-responsive.min.css"/>
        <script src="/js/bootstrap.min.js" type="application/javascript"></script>

    </head>
    <body>
    <div th:insert="~{navigation :: nav}"></div>
    <div class="container-fluid main">
        <div class="row">
            <<div class="jumbotron">
            <h1>页面错误！</h1>
            <p th:text="${msg}">服务出错，稍后再试</p>
            <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>
        </div>
    </div>
    </body>
    </html>
